doctype html
html
  head
    title Aman Dance Academy
    block scripts
    style 
      include ../views/stylecontact.css
  body
    //- div#main
    //-   nav#navbar 
    //-    ul 
    //-     li #[a(href="#main") Home]
    //-     li #[a(href="#service") Service]
    //-     li #[a(href="") About us]
    //-     li #[a(href=".../pub/form.html") Contact us]
    block content
    block foot
      #footer
        //- p some footer content