extends base.pug
 
block scripts
      script(src='/static/script.js')
block content 
    
      section#home 
       h1 World of Dance !

      section#service
       div#ser
        h1 Service   
      div#boxes 
        div#box1
         h1 Contemporary 
         br
         div#img
          img(src="/static/con2.jpg", alt="kata")
         br  
         p  Contemporary dance is a genre of dance performance. one of the dominant genres for formally trained dancers throughout the world, with particularly strong popularity in the U.S. and Europe.  
        div#box2
         h1 HIP HOP
         br
         div#img
          img(src="/static/h2.jpg", alt="kata")
         br
         p Hip Hop Dance is a style of movement characterized by bounces and rocks executed to Hip Hop music, Hip Hop dance is part of a whole culture of Hip Hop, that include Breaking, Graffiti.  
        div#box3
         h1 TANGO 
         br
         div#img
          img(src="/static/t1.jpg", alt="kata")
         br
         p One of the most fascinating of all dances, the tango is a sensual ballroom dance that originated in Buenos Aires, Argentina in the early twentieth century. 
         